<% grunt.log.write("  home layout "+meta.id+"... ") %>
<%= _head %>
<%= _nav %>

<div class="container">
  <div class="row">
    <div id="sidebar1" class="span4">
      <h1><%= meta.title %></h1>
<% var samp = grunt.config.get("yeoman.samples") %>
<% var sour = grunt.config.get("yeoman.sources") %>
<% if(sour === samp) { %>
      <!-- add samples alert -->
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h2>Sample content</h2>
        <span class="icon-info-sign"></span> See the <a href="https://github.com/CMEPorg/CMEP-site">Site readme</a> and the <a href="https://github.com/CMEPorg/CMEP-sources">Sources readme</a>.
      </div>
<% } %>
      <%= _linesMenu %>
    </div>
    <div id="content" class="span8">
      <%= content %>

      <!-- <svg width="100%" height="100%"
       viewBox="0.00 0.00 656.00 1340.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 1336)">
          <title>G</title>
          <polygon fill="white" stroke="white" points="-4,5 -4,-1336 653,-1336 653,5 -4,5"/>

          <g id="node1" class="node"><title>A1</title>
          <text text-anchor="middle" x="520" y="-947.199" font-family="arial" font-size="16.00">A1</text>
          </g>
          <text id="thepopup" x="500" y="-970" font-size="20" fill="black" visibility="hidden">Station A1
            <set attributeName="visibility" from="hidden" to="visible" begin="node1.mouseover" end="node1.mouseout"/>
          </text>
      </svg> -->



    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.

  /* kick MathJax to render the opened accordion element */
  $(".accordion-body").each(function(index, element) {
    $(element).on('shown', function() {
      console.log('showing'+index);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, element]);
    })
  });

});
</script>

<%= _foot %>

