<%= _head %>
<%= _nav %>
<% _ = grunt.util._ %>
<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar1" class="span4">

      <!-- Dependencies -->
      <ul class="inline">
<% _.each(meta.dependencies, function(depId) {%>
        <li class="stid <%=depId%>" data-content="<%=sources.stations[depId].meta.title%>" style="background-color:<%=sources.stations[depId].meta.colour%>">
          <a href="<%=root%>/stations/<%=depId%>.html">
              <span><%=depId%></span>
          </a>
        </li>
<% })%>
      </ul>

      <h1 class="main stid text-center" style="background-color:<%=meta.colour%>"><%=meta.id%></h1>

      <!-- Dependents -->
      <ul class="inline text-right">
<% _.each(meta.dependents, function(depId) {%>
        <li class="stid <%=depId%>" data-content="<%=sources.stations[depId].meta.title%>" style="background-color:<%=sources.stations[depId].meta.colour%>">
          <a href="<%=root%>/stations/<%=depId%>.html">
            <%=depId%>
          </a>
        </li>
<% })%>
      </ul>
      <h2><%=meta.title%></h2>

      <div class="accordion" id="stationMenu">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#stationMenu" href="#pvids">
              Pervasive Ideas
            </a>
          </div>
          <div id="pvids" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
      <%    _.each(meta.pervasiveIdeas, function(__, pvid) { %>
                <li>
                  <a href="<%=root%>/pervasiveIdeas/<%=pvid%>.html">
                    <%=sources.pervasiveIdeas[pvid].meta.title%>
                  </a>
                </li>
      <%    }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#stationMenu" href="#highlights">
              Highlights
            </a>
          </div>
          <div id="highlights" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="unstyled">
<%  _.each(meta.highlights, function(resourceType, resId) { %>
<%  var resourceTypeMeta = sources.resourceTypes[resourceType].meta %>
                <li>
                  <span class="<%=resourceTypeMeta.icon%>"> </span>
                  <a href="<%=resources%>/<%=resId%>/index.html">
                    <%=resourceTypeMeta.title%>
                  </a>
                </li>
<%  }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-parent="#stationMenu" href="#">
              Teacher Support
            </a>
          </div>
        </div>
      </div>

    </div>
    <div id="content" class="span8">

      <!-- Markdown content contains Key Questions -->
      <%= content %>

      <!-- Resources that list station in stids1 -->
<% if (meta.R1s || meta.R2s) {%>
      <h3>Resources</h3>
      <ul class="unstyled">
<% _.each(meta.R1s, function(resType, resId) {%>
<% var resourceTypeMeta = sources.resourceTypes[resType].meta; %>
        <li>
          <span class="<%=resourceTypeMeta.icon%>"></span>
          <a href="<%=resources%>/<%=resId%>/index.html">
            <%=resourceTypeMeta.title%>
          </a>
        </li>
<% }) %>
<% _.each(meta.R2s, function(resType, resId) {%>
<% var resourceTypeMeta = sources.resourceTypes[resType].meta; %>
        <li>
          <span class="<%=resourceTypeMeta.icon%>"></span>
          <a href="<%=resources%>/<%=resId%>/index.html">
            <%=resourceTypeMeta.title%>
          </a>
        </li>
<% }) %>
      </ul>
<% }%>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  //
  // Create a small jQuery plugin that binds bootstrap popovers to elements
  // and renders any maths they may contain
  //
  $.fn.bindPopover = function (placement) {
    this.on('show', function() {
      // the timeout is necessary, but I'm not sure why.
      $(this).mathTimer = window.setTimeout(function() {
        console.log('showing');
        MathJax.Hub.Queue(["Typeset",MathJax.Hub], $('.popover-content').get());        
      }, 0);
    }).on('hide', function() {
      // This is necessary to avoid MathJAX attempting to render a recently destroyed popover.
      // Test on C15, alternating hover over C14 and A9.
      var tid = $(this).mathTimer
      if(tid !== null) window.clearTimeout(tid);
    }).popover({
      trigger: "hover",
      container: "body",
      delay: {show:600, hide:200},
      placement: "right"
    });
  }

// At compile time, generate functions for each dependency/dependent button
// which then attach click and hover handlers to them at run time. If we don't do this
// then only the linked text is active rather than the whole button.

<% _.each(meta.dependencies, function(depId) {%>

  $el = $(".stid.<%=depId%>").click(function(event) {
    window.location = "<%= root%>/stations/<%=depId%>.html";
  }).bindPopover("right");
  
<% }); %>

<% _.each(meta.dependents, function(depId) {%>

  $(".stid.<%=depId%>").click(function(event) {
    window.location = "<%= root%>/stations/<%=depId%>.html";
  }).bindPopover(document.documentElement.clientWidth < 600 ? "left" : "right");

<% }); %>

});
</script>

<%= _foot %>
